/*//////*/

[cursor-icon="grab"] {
  opacity: 0;
}

[cursor-icon="grabbing"] {
  opacity: 0;
}

.cursor-tag {
  opacity: 0;
}

/*//////*/

:root {
  --scene-rotation: 0deg;
  --linear-move: 0%;
  --day-night-rotation: 0deg;
}

.c-solar-system,
.c-cloud-line {
  transform: translateX(var(--linear-move));
  will-change: transform;
}

.solar-system {
  transform: rotateZ(var(--day-night-rotation));
  will-change: transform;
}

.c-island {
  transform: rotateX(80deg) rotateZ(var(--scene-rotation));
  will-change: transform;
}

.island-grid__item,
.wave {
  transform: rotateY(var(--scene-rotation));
  will-change: transform;
}
