/*//////*/

[cursor-icon="grab"],
[cursor-icon="grabbing",
.cursor-tag] {
  opacity: 0;
}

/*//////*/

:root {
  --scene-rotation: 0deg;
  --scene-move: 0%;
  --sky-rotation: 0deg;
  --sky-opacity: 0;
}

.c-sky,
.c-cloud-line {
  transform: translateX(var(--scene-move));
  will-change: transform;
}

.solar-system {
  transform: rotateZ(var(--sky-rotation));
  will-change: transform;
}

.c-island {
  transform: rotateX(80deg) rotateZ(var(--scene-rotation));
  will-change: transform;
}

.island-grid__item,
.wave {
  transform: rotateY(var(--scene-rotation));
  will-change: transform;
}

.sky-bg,
.screen__overlay,
.sun-glow {
  opacity: var(--sky-opacity);
  will-change: transform;
}
