/* ---------------------------------------------------------------------------- */
/*                                PAGE LOAD CSS                                 */
/* ---------------------------------------------------------------------------- */

/* Hide cursors at load */
[cursor-icon="grab"],
[cursor-icon="grabbing"],
.cursor-tag {
  opacity: 0;
}
