/*//////*/

[cursor-icon="grab"] {
  opacity: 0;
}

[cursor-icon="grabbing"] {
  opacity: 0;
}

.cursor-tag {
  opacity: 0;
}

/*//////*/

:root {
  --canvas-rotation: 0deg;
  --linear-move: 0%;
}

.solar-system-container,
.c-cloud-line {
  transform: translateX(var(--linear-move));
  -webkit-transform: translateX(var(--linear-move));
  will-change: transform;
}

.c-island,
.waves-container {
  transform: rotateX(80deg) rotateZ(var(--canvas-rotation));
  -webkit-transform: rotateX(80deg) rotateZ(var(--canvas-rotation));
  will-change: transform;
}

.c-item {
  transform: rotateY(var(--canvas-rotation));
  -webkit-transform: rotateY(var(--canvas-rotation));
  will-change: transform;
}

.c-wave {
  transform: rotateX(-90deg) rotateY(calc(0deg - var(--canvas-rotation)));
  -webkit-transform: rotateX(-90deg) rotateY(calc(0deg - var(--canvas-rotation)));
  will-change: transform;
}
